@use '../../_variables' as *;
@use '../../_mixins' as *;

.form-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: $large;
}

.form-contents {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: $large;
    padding: $large;
    max-width: min-content;
    background-color: var(--bg-secondary-color);
    text-align: start;

    @include border;
}

.form-input-container {
    position: relative;
    display: grid;
    padding: $small;
    max-width: $tablet;
}

.form-input {
    justify-content: center;
    height: 30px;
    padding-inline: $small;
    outline-color: $primary;
    font-family: inherit;
    font-size: 1rem;
    width: 300px;

    &.alert {
        outline-color: red;
    }
}

.form-label {
    font-family: inherit;
    margin-bottom: $medium;
    font-weight: bold;
}

.password-visibilty {
    position: absolute;
    top: 75%;
    right: 5%;
    padding-bottom: $small;
    transform: translateY(-50%);
    cursor: pointer;
    height: max-content;
    width: max-content;
}

.error-message-wrapper {
    display: grid;
    justify-items: start;
    gap: $small;
    padding-inline: $medium;
    width: 100%;
}

.error-message {
    color: var(--warning-color);
}
