@use '../../_variables' as *;
@use '../../_mixins' as *;

.form-wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
}

.form-title {
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
}

.form-contents {
    display: grid;
    justify-items: center;
    align-items: center;

    max-width: min-content;
    text-align: start;

    background-color: var(--bg-secondary-color);
    padding: $large;
    gap: $large;
    border-radius: $border-radius;
}

.form-input-wrapper {
    position: relative;
    display: grid;
    padding: $small;
    max-width: $tablet;
}

.form-input {
    justify-content: center;
    height: 30px;
    padding-inline: $small;
    outline-color: $primary;
    font-family: inherit;
    font-size: 1rem;
    width: 300px;

    &.alert {
        outline-color: var(--danger-color);
    }
}

.form-label {
    font-family: inherit;
    margin-bottom: $medium;
    font-weight: bold;
}

.password-visibilty {
    position: absolute;
    top: 75%;
    right: 5%;
    padding-bottom: $small;
    transform: translateY(-50%);
    cursor: pointer;
    height: max-content;
    width: max-content;
}

.error-message-wrapper {
    display: grid;
    justify-items: start;
    gap: $small;
    padding-inline: $medium;
    width: 100%;
}

.error-message {
    color: var(--warning-color);
}

.form-link-wrapper {
    display: flex;
    white-space: nowrap;
    gap: $medium;
}

.form-link {
    color: var(--primary-color);

    &:hover {
        color: var(--primary-hover-color);
    }
}
