@use './variables' as *;

@mixin border {
    border: 1px solid var(--primary-color);
    border-radius: $border-radius;

    // &:hover {
    //     border-color: var(--primary-color);
    //     box-shadow: 0px 1px 2px 0px var(--primary-color);
    // }
}
