@use '../../_variables' as *;
@use '../../_mixins' as *;

.wrapper-header {
    position: relative;
    display: grid;
    border-bottom: 1px var(--bg-secondary-color) solid;
    padding-block: $medium;
    background-color: var(--bg-secondary-color);
    min-height: 60px;
}

.header-contents {
    position: relative;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: $large;
    width: 100%;
    max-width: $desktop;
    padding-inline: $medium;
    margin-inline: auto;
}

.logo-company {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.title-company {
    font-weight: lighter;
    cursor: pointer;
    width: max-content;
}

@media (max-width: $tablet) {
    .header-contents {
        grid-template-columns: auto 1fr;
        padding-left: 50px;
    }
}
